
### Haskell
dist
dist-*
cabal-dev
*.aux
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.eventlog
*.hi
*.hp
*.o
*.prof
*.so
.virtualenv
.hsenv
.hpc
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal.project.local
.HTF/
# Stack
.stack-work/

### IDE/support
# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
tags

# IntellijIDEA
.idea/
.ideaHaskellLib/
*.iml

# Atom
.haskell-ghc-mod.json

# VS
.vscode/

# Emacs
*#
.dir-locals.el
TAGS

# other
.DS_Store
*.data
*.dot
*.dSYM
*.fa
*.fas
*.fasta
*.fastc
*.gch
*.log
*.out
*.pcg
*.poy
*.ss
*.tcm
*.tre
*.tree
*.txt
*.xml
.*
production/bin
production/doc/haddock/*
production/doc/haddock*
*log.err
*log.out
*.bin